In [3]:
import pandas as pd

In [4]:
df3 = pd.read_csv('Bases de données/jeansville.csv')

In [5]:
df3

,Unnamed: 0,Localisation,Prix (€),Marque,Taille,Etat,Matière,Option de paiement,Vues,Date d'ajout,Département
0,0,Achicourt,5.0,Jack & Jones,W31 | FR 40,Neuf sans étiquette,NaN,Carte bancaire,10,"12/28/2023, 11:02:03 AM",62.0
1,1,Achicourt,5.0,Jack & Jones,W31 | FR 40,Neuf sans étiquette,NaN,Carte bancaire,10,"12/28/2023, 11:02:03 AM",62.0
2,2,Achicourt,5.0,Jack & Jones,W31 | FR 40,Neuf sans étiquette,NaN,Carte bancaire,10,"12/28/2023, 11:02:03 AM",62.0
3,3,Achicourt,5.0,Jack & Jones,W31 | FR 40,Neuf sans étiquette,NaN,Carte bancaire,10,"12/28/2023, 11:02:03 AM",62.0
4,4,Achicourt,5.0,Jack & Jones,W31 | FR 40,Neuf sans étiquette,NaN,Carte bancaire,10,"12/28/2023, 11:02:03 AM",62.0
...,...,...,...,...,...,...,...,...,...,...,...
1779,1779,Évry,5.0,Kaporal,W28 | FR 38,Très bon état,NaN,Carte bancaire,1,"12/29/2023, 5:50:17 PM",91.0
1780,1780,Évry,5.0,Freeman T. Porter,W29 | FR 38,Très bon état,NaN,Carte bancaire,5,"12/29/2023, 5:46:21 PM",89.0
1781,1781,Évry,5.0,Freeman T. Porter,W29 | FR 38,Très bon état,NaN,Carte bancaire,5,"12/29/2023, 5:46:21 PM",91.0
1782,1782,Évry,5.0,Kaporal,W28 | FR 38,Très bon état,NaN,Carte bancaire,1,"12/29/2023, 5:50:17 PM",89.0
1783,1783,Évry,5.0,Kaporal,W28 | FR 38,Très bon état,NaN,Carte bancaire,1,"12/29/2023, 5:50:17 PM",91.0